PORT=5000
JWT_SECRET=mySuperSecretJWTKey12345678

FIREWORKS_API_KEY=fw_62ZhXcdFYoojMvkr1woS2U
MONGO_URI=mongodb+srv://ygup098_db_user:pUiKtzeZ04emnZNy@cluster0.froimw5.mongodb.net/aiitsupport?retryWrites=true&w=majority&appName=Cluster0 
